*{
box-sizing:border-box;
}

body{
font-family: 'Manrope', sans-serif;
background-color: hsl(210, 46%, 95%);
display:flex;
align-items:center;
justify-content:center;
height:100vh;
margin:0;
}
.flexbox{
	width:45%;
	height:300px;
	border-radius:10px;
	
	display:flex;
	flex-direction:row;
}
.flexbox img:first-child{
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	
}

.post{
width:450px;
height:300px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
background-color:white;
margin-left:-65px;
padding:30px 45px 30px 30px;

}	
h1{
color:   hsl(217, 19%, 35%);
font-weight:700;
font-size:22px;
margin-top:0;}

p{
	color:  hsl(214, 17%, 51%);
	font-weight:500;
	font-size:13px;
	line-height:1.5;
}
	.post img:first-child{
	border-radius:90px;
	width:11%;
	margin-top:10px;}
	strong{
		font-size:13px;
		margin-left:10px;
		position:relative;
		top:-25px;
		color:hsl(217, 19%, 35%);
	
	}
	.avatar{
		width:auto;
	height:50px;}
	.avatar p{
		font-size:13px;
		margin-left:52px;
	position:relative;
	top:-38px;
	color:  hsl(214, 17%, 71%);
	}
	
	.post i{
		float:right;
		position: relative;
		top:-30px;
		background-color: hsl(210, 46%, 95%);
	border-radius:90px;
	height: 35px;
width: 35px;
	padding:8px;
	 cursor: pointer;
	}
	
	.post i:hover{
		background-color: hsl(217, 19%, 35%);
		color:white;
	}


.pop-content{
	  display: none;
  position: relative;
  background-color:hsl(217, 19%, 35%);
  width:300px;
  border-radius:10px;
  height:60px;
   
	  letter-spacing: 4px;
	  text-transform:uppercase;
		color:  hsl(214, 17%, 61%);
	font-weight:500;
	font-size:13px;
text-align:center;
top:-125px;
left:220px;

}
span{
	position:relative;
top:5px;
margin-right:20px;}

 .pop-content a img{
	display:inline-block;
	margin-right:10px;
	
	position:relative;
	top:10px;
}
.post a img:first-child{
border-radius:0;
width:20px;}
.clip{
	margin-left:110px;
	width:50px;
	height:50px;
	  background-color:hsl(217, 19%, 35%);
clip-path: polygon(52% 25px, 88.00% 48.00%, 54% 94%, 8px 50%);}

@media(min-width:1000px){
	.flexbox{
	width:75%;
	height:300px;

	justify-content:center;
}
}

@media(max-width:900px){
		.flexbox{
	width:90%;
	height:auto;
	justify-content:center;
	flex-direction:column;
}
.flexbox img:first-child{
	border-top-right-radius:10px;
	border-bottom-left-radius:0px;
}
.post{
width:100%;

border-radius:0;

margin-left:0px;
margin-top:-40px;
padding:30px 45px 0px 30px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}


.pop-content{
display:block;
left:-30px;
top:-60px;
width:90vw;
border-top-right-radius:0;
border-top-left-radius:0;

padding-left:20px;
}
.avatar{
background-color:white;
height:70px;
margin-top:-10px;
width: 90vw;
margin-top: -10px;
margin-left: -30px;
padding: 0px 0px 20px 20px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
.clip{
display:none;}

.post i{
	width:auto;
	z-index:1;
	top:-45px;
	width:32px;
	height:32px;
	background-color: hsl(210, 46%, 95%);
	color:hsl(212, 23%, 69%);
}

		.post i:hover{
		background-color: hsl(217, 19%, 35%);
		color:white;
	}

.post img:first-child{
	border-radius:50px;
	width:15%;
	margin-top:10px;}


}