*{
box-sizing:border-box;
}

body{
font-family: 'Manrope', sans-serif;
background-color: hsl(210, 46%, 95%);
display:flex;
align-items:center;
justify-content:center;
height:100vh;
margin:0;
}
.flexbox{
	width:40%;
	height:300px;
	border-radius:10px;
	
	display:flex;
	flex-direction:row;
}
.flexbox img:first-child{
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	
}

.post{
width:60%;
height:300px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
background-color:white;
margin-left:-65px;
padding:30px 45px 30px 30px;

}	
h1{
color:   hsl(217, 19%, 35%);
font-weight:700;
font-size:22px;
margin-top:0;}

p{
	color:  hsl(214, 17%, 51%);
	font-weight:500;
	font-size:13px;
	line-height:1.5;
}
	.post img:first-child{
	border-radius:90px;
	width:11%;
	margin-top:10px;}
	strong{
		font-size:13px;
		margin-left:10px;
		position:relative;
		top:-25px;
		color:hsl(217, 19%, 35%);
	
	}
	.avatar p{
		font-size:13px;
		margin-left:52px;
	position:relative;
	top:-38px;
	color:  hsl(214, 17%, 71%);
	}
	
	.post i{
		float:right;
		position: relative;
		top:-80px;
		background-color: hsl(210, 46%, 95%);
	border-radius:90px;
	height: 40px;
width: 40px;
	padding:12px;
	}
	
	.post i:hover{
		background-color: hsl(217, 19%, 35%);
		color:white;
	}
